* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes gentleAnimation {
    0% {
        transform: translateY(30%) rotate(0) scale(1);
    }


    50% {
        transform: translateY(10%) rotate(1deg) scale(1.1);
    }


    100% {
        transform: translateY(30%) rotate(0) scale(1);
    }
}

#gameContainer {

    margin:-10px;
    position: fixed;

    width:1px;
    height:1px;

    text-align: center;
    font-family: Arial, sans-serif;

    background-color: #2E282A;
    color: #FAD8D6;

    
}

#timer {
    font-size: 48px;

    margin-top: 20px;

}

.object {
    font-size:36px;

    left: 35%;
    bottom: 90%;
    position: absolute;

    animation-name: gentleAnimation;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}


button {
    color: white;
    background-color: #17BEBB;

    border: none;

    padding: 15px 32px;

    font-size: 16px;
    text-align: center;
    text-decoration: none;

    display: inline-block;

    margin-top: 20px;

    cursor: pointer;
    
    border-radius: 8px;
}

#target {
    position:absolute;
    left:25%;
    top:25%;

    width:75px;
    height:75px;
    
    transition: left 0.15s ease, top 0.15s ease, width 0.5s ease, height 0.5s ease;
}

#clicks {font-size: 24px;}
#finalScore {font-size:24px;}